* {
  padding: 0;
  margin: 0;
}
body {
  background: green;
}
#wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.playmat {
  display: flex;
  justify-content: center;
}

.card-place {
  padding: 2px;
  width: 160px;
  height: 240px;
  border: 1px solid lightgreen;
  border-radius: 10px;
  display: flex;
  margin: 5px;
}

.card {
  transition-duration: 0.2s;
  transform: translate(0, 0);
}

.card-place .card {
  position: absolute;
}

footer {
  display: none;
}
